.edit-form {
    max-width: 430px;
    width: 100%;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: start;
    position: relative;
}

@media screen and (max-width: 570px) {
    .edit-form {
        max-width: 282px;
        height: 322px;
    }
}