.form__input {
    max-width: 358px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d0d2d3;
    margin: 30px auto 5px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0 6px 0;
    font-size: 14px;
    color: #c4c4c4;
}

.form__input:focus {
    outline: none;
}

.form__input::-webkit-input-placeholder {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 400;
}
.form__input::-moz-placeholder {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 400;
}
.form__input:-moz-placeholder {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 400;
}
